Source: jinjaturtle
Section: admin
Priority: optional
Maintainer: Miguel Jacq <mig@mig5.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-poetry-core,
 python3-yaml,
 python3-toml,
 python3-defusedxml,
 python3-jinja2
Standards-Version: 4.6.2
Homepage: https://git.mig5.net/mig5/jinjaturtle

Package: jinjaturtle
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-yaml,
 python3-toml,
 python3-defusedxml,
 python3-jinja2
Description: Convert config files into Ansible vars and Jinja2 templates.
